<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/security"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   	  http://www.springframework.org/schema/security 
   	  http://www.springframework.org/schema/security/spring-security-4.0.xsd">
  
 <!-- This is where we configure Spring-Security  -->
 <http auto-config="true">
		<intercept-url pattern="/main/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/main/common**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/**" access="" />
		<form-login 
		    login-page="/login" 
		    default-target-url="/main/common" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/" logout-url="/perform_logout" />
	</http>

	 <authentication-manager>
         <ldap-authentication-provider 
           user-search-filter="(uid={0})"
           user-search-base="ou=users"
           group-search-filter="(uniqueMember={0})"
           group-search-base="ou=groups"
           group-role-attribute="cn"
           role-prefix="ROLE_">
         </ldap-authentication-provider>
 	</authentication-manager>
 
 <ldap-server url="ldap://localhost:10389/o=pradeep" manager-dn="uid=admin,ou=system" manager-password="ramani456%" />
  
</beans:beans>